<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${todo}"
      method="post">
    ID :<input type="text" th:field="*{id}"/>
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}"></span><br />
    Taskname :<input type="text" th:field="*{task_name}"/>
    <span th:if="${#fields.hasErrors('task_name')}"
          th:errors="*{task_name}"></span><br />
    Priority :<textarea rows="5" th:field="*{priority}"/>
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span>
    <br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>